.section-info-1 {
    display: flex;
    margin: 50px auto;
    width: 1177px;
    height: 747px;
  }
  
  .container-info {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .img-caneca {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
    width: 652px;
    height: 747px;
    min-width: 300px;
  }
  
  .img-caneca img {
    width: 523.38px;
    height: 528.17px;
    object-fit: cover;
  }
  
  .text-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 487px;
    height: 536px;
    min-width: 300px;
  }
  
  .text-caneca h1 {
    letter-spacing: 0.04em;
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .text-p-1 p,
  .text-p-2 p {
    letter-spacing: 5%;
    font-weight: 400;
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 140%;
    color: var(--text-color);
    margin-bottom: 20px;
  }