:root {
  --primary-color: #005cff;
  --secondary-color: #0040af;
  --accent-color: #73059e;
  --text-color: #000000;
  --text-light: #303030;
  --text-gray: #656565;
  --text-muted: #999;
  --background-light: #f5f5f5;
  --background-gray: #dedede;
  --background-dark: #e9e9ea;
  --white: #ffffff;
  --shadow-color: rgb(198, 198, 198);
  --border-color: #cccccc;
  --discount-color: #5ec0be;
  --dark-blue: #00264e;

  --font-primary: "Nunito Sans", sans-serif;
  --font-secondary: "Nunito", sans-serif;
  --font-tertiary: Arial, Helvetica, sans-serif;

  --transition-ease: ease-in-out 0.3s;
  --border-radius: 8px;
  --box-shadow: 0px 0px 6px var(--shadow-color);
}

* {
  outline: none !important;
  box-sizing: border-box;
}